body * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background: linear-gradient(#fcf3cf, #fdedec);
}

h1 {
  margin: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 60vh;
  gap: 15px;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  box-shadow: 0 0 10px;
  margin: 10px;
}

.board:hover {
  cursor: crosshair;
}

.buttons {
  display: flex;
  gap: 15px;
}

button {
  padding: 5px 15px;
  background-color: inherit;
  border: 2px solid burlywood;
  border-radius: 15px;
}

#black:hover {
  background-color: black;
  color: burlywood;
}

#white:hover {
  background-color: white;
  color: burlywood;
}

#gray:hover {
  background-color: gray;
  color: burlywood;
}

#gradient {
  background: linear-gradient(#f1948a, #85c1e9, #76d7c4, #f7dc6f);
}

#gradient:hover {
  background: linear-gradient(
    rgba(241, 148, 138, 0.7),
    rgba(133, 193, 233, 0.7),
    rgba(118, 215, 196, 0.7),
    rgba(247, 220, 111, 0.7)
  );
}

button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.error {
  display: none;
}

#status-btn {
  width: 130px;
  background-color: seagreen;
}

#status-btn:hover {
  font-weight: 600;
}

input {
  border-radius: 15px;
  border: 2px solid burlywood;
  height: 50px;
  font-size: 20px;
  background-color: #fdedec;
}

input:hover {
  background-color: #fcf3cf;
}

#size-input button {
  height: 100%;
}

#size-input {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px;
}
